* {
  padding: 0;
  margin: 0;
}
.add{
  position:absolute;
  left:55%;
  height:3%;
  margin-top:1%;
}
.rm{
  position:absolute;
  left:35%;
  height:3%;
  margin-top:1%;
}
canvas {
  background: #000000;
  display: block;
  margin: 0 auto;
}
.limite{
  text-align:center;
  margin-top:0.5%;
}
.comandos{
  text-align:center;
  padding:3%;
}
.p1{
  position:absolute;
  left:30%;
}
.p2{
  position:absolute;
  left:45%;
}
.setas{
  position:absolute;
  width:5%;
  left:60%;
  top:72%;
}
.wasd{
  position:absolute;
  width:5%;
  left:35%;
  top:72%;
}